/Maven__com_fasterxml_jackson_core_jackson_annotations_2_11_1.xml
/Maven__com_fasterxml_jackson_core_jackson_core_2_11_1.xml
/Maven__com_fasterxml_jackson_core_jackson_databind_2_11_1.xml
/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_csv_2_12_1.xml
/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_xml_2_11_1.xml
/Maven__com_fasterxml_jackson_module_jackson_module_jaxb_annotations_2_11_1.xml
/Maven__com_fasterxml_woodstox_woodstox_core_6_2_1.xml
/Maven__com_github_virtuald_curvesapi_1_06.xml
/Maven__com_google_android_annotations_4_1_1_4.xml
/Maven__com_google_api_api_common_1_10_1.xml
/Maven__com_google_api_client_google_api_client_1_31_1.xml
/Maven__com_google_api_gax_1_60_1.xml
/Maven__com_google_api_gax_grpc_1_60_1.xml
/Maven__com_google_api_gax_httpjson_0_77_1.xml
/Maven__com_google_api_grpc_proto_google_cloud_translate_v3_1_1_6.xml
/Maven__com_google_api_grpc_proto_google_cloud_translate_v3beta1_0_78_6.xml
/Maven__com_google_api_grpc_proto_google_common_protos_2_0_1.xml
/Maven__com_google_api_grpc_proto_google_iam_v1_1_0_5.xml
/Maven__com_google_apis_google_api_services_translate_v2_rev20170525_1_31_0.xml
/Maven__com_google_auth_google_auth_library_credentials_0_22_2.xml
/Maven__com_google_auth_google_auth_library_oauth2_http_0_22_2.xml
/Maven__com_google_auto_auto_common_0_10.xml
/Maven__com_google_auto_service_auto_service_1_0_rc6.xml
/Maven__com_google_auto_service_auto_service_annotations_1_0_rc6.xml
/Maven__com_google_auto_value_auto_value_annotations_1_7_4.xml
/Maven__com_google_cloud_google_cloud_core_1_94_0.xml
/Maven__com_google_cloud_google_cloud_core_http_1_94_0.xml
/Maven__com_google_cloud_google_cloud_translate_1_95_6.xml
/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
/Maven__com_google_code_gson_gson_2_8_6.xml
/Maven__com_google_errorprone_error_prone_annotations_2_4_0.xml
/Maven__com_google_guava_failureaccess_1_0_1.xml
/Maven__com_google_guava_guava_24_0_jre.xml
/Maven__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
/Maven__com_google_http_client_google_http_client_1_38_0.xml
/Maven__com_google_http_client_google_http_client_apache_v2_1_38_0.xml
/Maven__com_google_http_client_google_http_client_appengine_1_38_0.xml
/Maven__com_google_http_client_google_http_client_jackson2_1_38_0.xml
/Maven__com_google_j2objc_j2objc_annotations_1_3.xml
/Maven__com_google_oauth_client_google_oauth_client_1_31_2.xml
/Maven__com_google_protobuf_protobuf_java_3_14_0.xml
/Maven__com_google_protobuf_protobuf_java_util_3_14_0.xml
/Maven__com_opencsv_opencsv_5_3.xml
/Maven__com_sun_activation_javax_activation_1_2_0.xml
/Maven__com_typesafe_netty_netty_reactive_streams_2_0_4.xml
/Maven__com_zaxxer_SparseBitSet_1_2.xml
/Maven__commons_beanutils_commons_beanutils_1_9_4.xml
/Maven__commons_codec_commons_codec_1_11.xml
/Maven__commons_collections_commons_collections_3_2_2.xml
/Maven__commons_logging_commons_logging_1_2.xml
/Maven__io_grpc_grpc_alts_1_34_1.xml
/Maven__io_grpc_grpc_api_1_34_1.xml
/Maven__io_grpc_grpc_auth_1_34_1.xml
/Maven__io_grpc_grpc_context_1_34_1.xml
/Maven__io_grpc_grpc_core_1_34_1.xml
/Maven__io_grpc_grpc_grpclb_1_34_1.xml
/Maven__io_grpc_grpc_netty_shaded_1_34_1.xml
/Maven__io_grpc_grpc_protobuf_1_34_1.xml
/Maven__io_grpc_grpc_protobuf_lite_1_34_1.xml
/Maven__io_grpc_grpc_stub_1_34_1.xml
/Maven__io_netty_netty_buffer_4_1_53_Final.xml
/Maven__io_netty_netty_codec_4_1_53_Final.xml
/Maven__io_netty_netty_codec_dns_4_1_53_Final.xml
/Maven__io_netty_netty_codec_http2_4_1_53_Final.xml
/Maven__io_netty_netty_codec_http_4_1_53_Final.xml
/Maven__io_netty_netty_codec_socks_4_1_48_Final.xml
/Maven__io_netty_netty_common_4_1_53_Final.xml
/Maven__io_netty_netty_handler_4_1_43_Final.xml
/Maven__io_netty_netty_handler_proxy_4_1_48_Final.xml
/Maven__io_netty_netty_resolver_4_1_53_Final.xml
/Maven__io_netty_netty_resolver_dns_4_1_53_Final.xml
/Maven__io_netty_netty_transport_4_1_53_Final.xml
/Maven__io_netty_netty_transport_native_epoll_4_1_53_Final.xml
/Maven__io_netty_netty_transport_native_epoll_linux_x86_64_4_1_53_Final.xml
/Maven__io_netty_netty_transport_native_kqueue_4_1_53_Final.xml
/Maven__io_netty_netty_transport_native_kqueue_osx_x86_64_4_1_53_Final.xml
/Maven__io_netty_netty_transport_native_unix_common_4_1_53_Final.xml
/Maven__io_opencensus_opencensus_api_0_24_0.xml
/Maven__io_opencensus_opencensus_contrib_http_util_0_24_0.xml
/Maven__io_opentelemetry_opentelemetry_api_0_9_1.xml
/Maven__io_opentelemetry_opentelemetry_context_prop_0_9_1.xml
/Maven__io_opentelemetry_opentelemetry_sdk_0_9_1.xml
/Maven__io_opentelemetry_opentelemetry_sdk_baggage_0_9_1.xml
/Maven__io_opentelemetry_opentelemetry_sdk_common_0_9_1.xml
/Maven__io_opentelemetry_opentelemetry_sdk_metrics_0_9_1.xml
/Maven__io_opentelemetry_opentelemetry_sdk_tracing_0_9_1.xml
/Maven__io_perfmark_perfmark_api_0_19_0.xml
/Maven__io_projectreactor_netty_reactor_netty_1_0_0.xml
/Maven__io_projectreactor_netty_reactor_netty_core_1_0_0.xml
/Maven__io_projectreactor_netty_reactor_netty_http_1_0_0.xml
/Maven__io_projectreactor_netty_reactor_netty_http_brave_1_0_0.xml
/Maven__io_projectreactor_reactor_core_3_4_0.xml
/Maven__io_zipkin_brave_brave_5_12_7.xml
/Maven__io_zipkin_brave_brave_instrumentation_http_5_12_7.xml
/Maven__io_zipkin_reporter2_zipkin_reporter_2_15_2.xml
/Maven__io_zipkin_reporter2_zipkin_reporter_brave_2_15_2.xml
/Maven__io_zipkin_zipkin2_zipkin_2_21_7.xml
/Maven__jakarta_activation_jakarta_activation_api_1_2_1.xml
/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_2.xml
/Maven__javax_annotation_javax_annotation_api_1_3_2.xml
/Maven__junit_junit_4_13_1.xml
/Maven__net_bytebuddy_byte_buddy_1_10_18.xml
/Maven__net_bytebuddy_byte_buddy_agent_1_10_18.xml
/Maven__org_apache_commons_commons_collections4_4_4.xml
/Maven__org_apache_commons_commons_compress_1_19.xml
/Maven__org_apache_commons_commons_exec_1_3.xml
/Maven__org_apache_commons_commons_lang3_3_5.xml
/Maven__org_apache_commons_commons_math3_3_6_1.xml
/Maven__org_apache_commons_commons_text_1_9.xml
/Maven__org_apache_httpcomponents_httpclient_4_5_13.xml
/Maven__org_apache_httpcomponents_httpcore_4_4_13.xml
/Maven__org_apache_logging_log4j_log4j_api_2_12_1.xml
/Maven__org_apache_logging_log4j_log4j_core_2_12_1.xml
/Maven__org_apache_poi_poi_4_1_2.xml
/Maven__org_apache_poi_poi_ooxml_4_1_2.xml
/Maven__org_apache_poi_poi_ooxml_schemas_4_1_2.xml
/Maven__org_apache_xmlbeans_xmlbeans_3_1_0.xml
/Maven__org_asynchttpclient_async_http_client_2_12_1.xml
/Maven__org_asynchttpclient_async_http_client_netty_utils_2_12_1.xml
/Maven__org_checkerframework_checker_compat_qual_2_5_5.xml
/Maven__org_codehaus_mojo_animal_sniffer_annotations_1_19.xml
/Maven__org_codehaus_woodstox_stax2_api_4_2_1.xml
/Maven__org_conscrypt_conscrypt_openjdk_uber_2_5_1.xml
/Maven__org_hamcrest_hamcrest_core_1_3.xml
/Maven__org_imgscalr_imgscalr_lib_4_2.xml
/Maven__org_json_json_20201115.xml
/Maven__org_jsoup_jsoup_1_10_2.xml
/Maven__org_mockito_mockito_core_3_6_28.xml
/Maven__org_objenesis_objenesis_3_1.xml
/Maven__org_reactivestreams_reactive_streams_1_0_3.xml
/Maven__org_seleniumhq_selenium_selenium_api_4_0_0_alpha_7.xml
/Maven__org_seleniumhq_selenium_selenium_chrome_driver_4_0_0_alpha_7.xml
/Maven__org_seleniumhq_selenium_selenium_chromium_driver_4_0_0_alpha_7.xml
/Maven__org_seleniumhq_selenium_selenium_devtools_4_0_0_alpha_7.xml
/Maven__org_seleniumhq_selenium_selenium_devtools_v84_4_0_0_alpha_7.xml
/Maven__org_seleniumhq_selenium_selenium_devtools_v85_4_0_0_alpha_7.xml
/Maven__org_seleniumhq_selenium_selenium_devtools_v86_4_0_0_alpha_7.xml
/Maven__org_seleniumhq_selenium_selenium_devtools_v87_4_0_0_alpha_7.xml
/Maven__org_seleniumhq_selenium_selenium_edge_driver_4_0_0_alpha_7.xml
/Maven__org_seleniumhq_selenium_selenium_edgehtml_driver_4_0_0_alpha_7.xml
/Maven__org_seleniumhq_selenium_selenium_firefox_driver_4_0_0_alpha_6.xml
/Maven__org_seleniumhq_selenium_selenium_firefox_xpi_driver_4_0_0_alpha_7.xml
/Maven__org_seleniumhq_selenium_selenium_http_4_0_0_alpha_7.xml
/Maven__org_seleniumhq_selenium_selenium_ie_driver_4_0_0_alpha_7.xml
/Maven__org_seleniumhq_selenium_selenium_java_4_0_0_alpha_7.xml
/Maven__org_seleniumhq_selenium_selenium_json_4_0_0_alpha_6.xml
/Maven__org_seleniumhq_selenium_selenium_opera_driver_4_0_0_alpha_7.xml
/Maven__org_seleniumhq_selenium_selenium_remote_driver_4_0_0_alpha_7.xml
/Maven__org_seleniumhq_selenium_selenium_safari_driver_4_0_0_alpha_7.xml
/Maven__org_seleniumhq_selenium_selenium_support_4_0_0_alpha_7.xml
/Maven__org_slf4j_slf4j_api_1_7_30.xml
/Maven__org_threeten_threetenbp_1_5_0.xml
